body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: white;
  border-bottom: solid 1px #ccc;
}
.navbar-section {
  display: flex;
  height: 100%;
}
.navbar-option-btn {
  width: 15%;
}
@media (min-width: 10px) {
  .navbar-option-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .navbar-option-btn {
    display: none;
  }
}
.navbar-links {
  width: 65%;
}
@media (min-width: 10px) {
  .navbar-links {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    justify-content: center;
  }
}
.navbar-logo {
  font-family: 'Mrs Saint Delafield', cursive;
  display: flex;
  font-size: 40px;
}
.navbar-logo span {
  margin-top: 12px;
}
@media (min-width: 10px) {
  .navbar-logo {
    justify-content: center;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .navbar-logo {
    justify-content: flex-end;
    width: 35%;
  }
}
.logo {
  width: 60px;
}
.navbar-item {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.navbar-item a {
  color: #555;
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 17px;
  text-transform: uppercase;
}
.navbar-item:hover,
.navbar-item:active,
.navbar-item.active {
  background-color: #ccc;
  cursor: pointer;
}
.navbar-item:hover a,
.navbar-item:active a,
.navbar-item.active a {
  color: white;
}
.navbar-item.no-hover:hover,
.navbar-item.no-hover:hover * {
  background-color: transparent !important;
  color: black;
  cursor: default;
}
.navbar-logo,
.navbar-item {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-position: center !important;
  background-size: cover !important;
}
.hero.services {
  background: url("../images/law.jpg");
}
.hero.main {
  background: url("../images/justice.jpg");
}
.hero.contact {
  background: url("../images/contact.jpg");
}
.hero.me {
  background: url("../images/me.jpg");
}
.hero-square {
  width: 600px;
  height: 200px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: 'Cormorant', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-square h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 5px;
}
.hero-square h2 {
  font-weight: 400;
  font-size: 22px;
  color: #ccc;
  margin: 5px;
}
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  transition: transform 0.2s;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
}
.sidebar.open {
  transform: translateX(0%);
}
.sidebar-links {
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  align-items: center;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.sidebar-item a {
  color: #ccc;
  text-decoration: none;
  font-weight: 300;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  font-size: 17px;
  text-transform: uppercase;
}
.sidebar-item:hover,
.sidebar-item:active,
.sidebar-item.active {
  background-color: white;
  cursor: pointer;
}
.sidebar-item:hover a,
.sidebar-item:active a,
.sidebar-item.active a {
  color: #555;
}
.sidebar-close {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  color: #ccc;
}
.contact {
  font-family: 'Oswald', sans-serif;
  color: #555;
}
.contact h1 {
  text-align: center;
  font-weight: 400;
}
.contact h2,
.contact span {
  font-weight: 300;
}
.contact-item {
  display: flex;
  justify-content: center;
}
.contact-item * {
  padding-left: 5px;
  padding-right: 5px;
}
.map {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
