<div class="section contact grid-row">
    <div class="grid-row">
        <h1>INFORMACI&#211;N DE CONTACTO</h1>
        <hr/>
    </div>
    <div class="grid-row">
        <div class="grid-col-lg-3">
            <div class="grid-row contact-item">
                <h2>OFICINA</h2>
            </div>
            <div class="grid-row contact-item">
                <img src="images/location-black.png">
                <span>Florida 5545</span>
            </div>
        </div>
        <div class="grid-col-lg-3">
            <div class="grid-row contact-item">
                <h2>TEL&#201;FONO</h2>
            </div>
            <div class="grid-row contact-item">
                <img src="images/whatsapp-black.png">
                <span>11-5975-0023</span>
            </div>
        </div>
        <div class="grid-col-lg-3">
            <div class="grid-row contact-item">
                <h2>EMAIL</h2>
            </div>
            <div class="grid-row contact-item">
                <img src="images/email-black.png">
                <span>eduardob@yahoo.com</span>
            </div>
        </div>
    </div>
</div>