<div class="section contact" id="contact">
    <div class="title">
        <h1><span>INFORMACIÓN</span> DE CONTACTO</h1>
    </div>

    <div class="contact-container">
        <div class="contact-content">
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>OFICINA</h2>
                </div>
                <div class="contact-item">
                    <img src="images/location-white.png">
                    <span>Paraná 423 CABA (CPACF)</span>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>TELÉFONO</h2>
                </div>
                <div class="contact-item">
                    <img src="images/whatsapp-white.png">
                    <span>11-5975-0023</span>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>EMAIL</h2>
                </div>
                <div class="contact-item">
                    <img src="images/email-white.png">
                    <span>eduardob@yahoo.com</span>
                </div>
            </div>
        </div>

    </div>
    <div class="btn centered-btn">
        <button id="appointment">Solicite un turno online ahora</button>
    </div>
</div>