<div class="section contact" id="contact">
    <div class="title">
        <h1><span>INFORMACION</span> DE CONTACTO</h1>
    </div>

    <div class="contact-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.01250650531!2d-58.39034462350339!3d-34.60384525750636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac6a46261f9%3A0xfda635ff26a27762!2sParan%C3%A1%20423%2C%20C1017%20AAI%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1739836377473!5m2!1sen!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contact-content">
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>OFICINA</h2>
                </div>
                <div class="contact-item">
                    <span>Paraná 423 CABA (CPACF)</span>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>WHATSAPP</h2>
                </div>
                <div class="contact-item">
                    <span>+54 9 11 3428-9400</span>
                </div>
                <div class="contact-item">
                    <div class="btn centered-btn">
                        <button name="chat-btn"><img src="images/whatsapp-white.png">Chatear ahora</button>
                    </div>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>TURNOS ONLINE</h2>
                </div>
                <div class="contact-item">
                    <span>Solicitá tu turno online</span>
                </div>
                <div class="contact-item">
                    <div class="btn centered-btn">
                        <button name="appointment-btn"><img src="images/calendar-white.png">Agendar turno ahora</button>
                    </div>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>EMAIL</h2>
                </div>
                <div class="contact-item">
                    <span>eduardobinci@hotmail.com</span>
                </div>
            </div>
        </div>

    </div>
</div>
