<div class="section contact" id="contact">
    <div class="title">
        <h1><span>INFORMACION</span> DE CONTACTO</h1>
    </div>

    <div class="contact-container">
        <div class="contact-content">
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>OFICINA</h2>
                </div>
                <div class="contact-item">
                    <img src="images/location-white.png">
                    <span>Paraná 423 CABA (CPACF)</span>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>WHATSAPP</h2>
                </div>
                <div class="contact-item">
                    <img src="images/whatsapp-white.png">
                    <span>+54 9 11 3428-9400</span>
                </div>
                <div class="contact-item">
                    <div class="btn centered-btn">
                        <button name="chat-btn">Chatear ahora</button>
                    </div>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>TURNOS ONLINE</h2>
                </div>
                <div class="contact-item">
                    <img src="images/calendar-white.png">
                    <span>Solicitá tu turno online</span>
                </div>
                <div class="contact-item">
                    <div class="btn centered-btn">
                        <button id="appointment">Solicitar turno ahora</button>
                    </div>
                </div>
            </div>
            <div class="contact-item-group separator"></div>
            <div class="contact-item-group">
                <div class="contact-item">
                    <h2>EMAIL</h2>
                </div>
                <div class="contact-item">
                    <img src="images/email-white.png">
                    <span>eduardobinci@hotmail.com</span>
                </div>
            </div>
        </div>

    </div>
</div>
