<footer class="footer section">
    <div class="footer-section">
        <div>
            <h1>CONTACTO</h1>
            <div class="footer-item">
                <img src="images/location-white.png">
                <span>Florida 5545</span>
            </div>
            <div class="footer-item">
                <img src="images/whatsapp-white.png">
                <span>11-5975-0023</span>
            </div>
            <div class="footer-item">
                <img src="images/email-white.png">
                <span>eduardob@yahoo.com</span>
            </div>
        </div>
    </div>
    <div class="footer-section">
    </div>
</footer>