<footer class="footer">
    <div id="preFooter" class="pre-footer primary-bk">
        <img src="images/hammer.png">
    </div>
    <div class="footer-content">
        <div class="footer-section">
            <div>
                <h1>CONTACTO</h1>
                <div class="footer-item">
                    <img src="images/location-black.png">
                    <span>Paraná 423 CABA (CPACF)</span>
                </div>
                <div class="footer-item">
                    <img src="images/whatsapp-black.png">
                    <span>+54 9 11 3428-9400</span>
                </div>
                <div class="footer-item">
                    <img src="images/email-black.png">
                    <span>eduardobinci@hotmail.com</span>
                </div>
            </div>
        </div>
        <div class="footer-section">
        </div>
    </div>
</footer>

