<footer class="footer">
    <div id="preFooter" class="pre-footer primary-bk">
        <img src="images/hammer.png" alt="" role="presentation" width="100" height="63">
    </div>
    <div class="footer-content">
        <div class="footer-section">
            <div>
                <h2>CONTACTO</h2>
                <div class="footer-item">
                    <img src="images/location-black.png" alt="" role="presentation" width="24" height="24">
                    <span>Av. San Martin 2336 CABA</span>
                </div>
                <div class="footer-item">
                    <img src="images/whatsapp-black.png" alt="" role="presentation" width="24" height="24">
                    <a href="tel:+5491134289400">+54 9 11 3428-9400</a>
                </div>
                <div class="footer-item">
                    <img src="images/email-black.png" alt="" role="presentation" width="24" height="24">
                    <a href="mailto:eduardobinci@hotmail.com">eduardobinci@hotmail.com</a>
                </div>
            </div>
        </div>
        <div class="footer-section">
        </div>
    </div>
    <div class="footer-copyright">
        <span>© 2026 Dr. Eduardo Binci. Todos los derechos reservados.</span>
    </div>
</footer>

