<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Language" content="es-AR">
<link rel="stylesheet" type="text/css" href="css/grid.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400|Mrs+Saint+Delafield|Cormorant:400,700&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon-16.ico" />
<link rel="icon" type="image/x-icon" href="images/favicon-16.ico" />
<link rel="apple-touch-icon" href="images/favicon-16.ico" />

<meta name="description" content="Estudio jurídico especializado en derecho civil y de familia. Más de 20 años de experiencia brindando asesoramiento legal con compromiso y ética.">
<meta name="keywords" content="abogado, derecho civil, derecho de familia, sucesiones, divorcio, asesoramiento legal, Eduardo Binci">
<meta name="author" content="Dr. Eduardo Binci">
<meta property="og:title" content="Dr. Eduardo Binci - Estudio Jurídico Especializado en Derecho Civil y de Familia">
<meta property="og:description" content="Más de 20 años de experiencia ofreciendo asesoramiento legal en sucesiones, divorcios, y más.">
<meta property="og:type" content="website">
<meta property="og:locale" content="es_AR">
<meta property="og:image" content="https://eduardobinci.com.ar/images/me-og.png">
<meta property="og:url" content="https://eduardobinci.com.ar">
<link rel="alternate" hreflang="es-ar" href="https://eduardobinci.com.ar" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Dr. Eduardo Binci - Estudio Jurídico Especializado en Derecho Civil y de Familia">
<meta name="twitter:description" content="Más de 20 años de experiencia ofreciendo asesoramiento legal en sucesiones, divorcios, y más.">
<meta name="twitter:image" content="https://eduardobinci.com.ar/images/me-og.png">
<meta name="robots" content="index, follow">
<link rel="sitemap" type="application/xml" href="/sitemap.xml">
<link rel="canonical" href="https://eduardobinci.com.ar">

<title>Dr. Eduardo Binci | Derecho civil y de familia</title>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LegalService",
      "name": "Dr. Eduardo Binci",
      "image": "https://eduardobinci.com.ar/images/me.png",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Av. San Martin 2336",
        "addressLocality": "CABA",
        "addressCountry": "AR"
      },
      "telephone": "+54 9 11 3428-9400",
      "email": "eduardobinci@hotmail.com",
      "description": "Estudio jurídico especializado en derecho civil y de familia, con más de 20 años de experiencia.",
      "url": "https://eduardobinci.com.ar"
    }
</script>
