<div class="introduction section" id="me">
    <div class="title">
        <h1><span>sobre</span> nosotros</h1>
    </div>
    <p>
        Soy Eduardo César Binci, abogado con más de 20 años de trayectoria en el ejercicio profesional, especializado en derecho civil y comercial, y de familia. Soy la persona al frente de este estudio jurídico. Mi vocación por la justicia y el compromiso con cada cliente han sido los pilares de mi carrera, enfocándome siempre en brindar asesoramiento jurídico de calidad y soluciones eficaces para cada situación.
    </p>
    <p>
        Me formé en la Universidad de Buenos Aires (U.B.A.), institución de referencia en el ámbito del derecho, donde adquirí las bases teóricas y prácticas que hoy aplico en mi ejercicio profesional. Además, desde el año 2008, desempeño mi labor como docente en las carreras de Derecho y Martilleros en la Universidad Nacional de Lomas de Zamora, lo que me permite no solo transmitir conocimientos, sino también mantenerme actualizado en los constantes cambios del marco jurídico.
    </p>
    <p>
        A lo largo de mi carrera, he acompañado a mis clientes en la resolución de conflictos legales con un enfoque personalizado, buscando siempre la mejor estrategia para proteger sus derechos e intereses. Mi objetivo es ofrecer un servicio basado en la transparencia, la confianza y el compromiso, valores que considero fundamentales en el ejercicio de la profesión.
    </p>
    <p>
        Si busca asesoramiento en materia de derecho civil, comercial o de familia, estaré encantado de ayudarlo con profesionalismo y dedicación.
    </p>
</div>
