<navbar id="navbar" class="navbar">
    <div id="openSidebar" class="navbar-option-btn">
        <i><img src="images/opt.png"></i>
    </div>

    <div class="navbar-section navbar-logo">
        <div class="navbar-item no-hover">
            <span>Dr. Eduardo Binci</span>
        </div>
    </div>

    <div class="navbar-section navbar-links">
        <div class="navbar-item">
            <a href="index.html">Inicio</a>
        </div>
        <div class="navbar-item">
            <a href="sobre.html">Sobre mi</a>
        </div>
        <div class="navbar-item">
            <a href="servicios.html">Servicios</a>
        </div>
        <div class="navbar-item">
            <a href="contacto.html">Contacto</a>
        </div>
    </div>
</navbar>

<navbar id="sidebar" class="sidebar">
    
    <div id="closeSidebar" class="sidebar-close">
        <i class="icon-close"><img src="images/close.png"></i>
    </div>
    
    <div class="sidebar-links">
        <div class="sidebar-item">
            <a href="index.html">Inicio</a>
        </div>
        <div class="sidebar-item">
            <a href="sobre.html">Sobre mi</a>
        </div>
        <div class="sidebar-item">
            <a href="servicios.html">Servicios</a>
        </div>
        <div class="sidebar-item">
            <a href="contacto.html">Contacto</a>
        </div>
    </div>

</navbar>