<div class="navbar">
    <div class="navbar-option-btn" onclick="openSidebar();">
        <i><img src="images/opt.png"></i>
    </div>

    <div class="navbar-section navbar-logo">
        <div class="navbar-item no-hover">
            <span>Dr. Eduardo Binci</span>
        </div>
    </div>

    <div class="navbar-section navbar-links">
        <div class="navbar-item">
            <a href="index.html">Inicio</a>
        </div>
        <div class="navbar-item">
            <a href="sobre.html">Sobre mi</a>
        </div>
        <div class="navbar-item">
            <a href="servicios.html">&#193;reas de pr&#225;ctica</a>
        </div>
        <div class="navbar-item">
            <a href="contacto.html">Contacto</a>
        </div>
    </div>
</div>

<div id="sidebar" class="sidebar">
    
    <div class="sidebar-close" onclick="closeSidebar();">
        <i class="icon-close"><img src="images/close.png"></i>
    </div>
    
    <div class="sidebar-links">
        <div class="sidebar-item">
            <a href="index.html">Inicio</a>
        </div>
        <div class="sidebar-item">
            <a href="sobre.html">Sobre mi</a>
        </div>
        <div class="sidebar-item">
            <a href="servicios.html">&#193;reas de pr&#225;ctica</a>
        </div>
        <div class="sidebar-item">
            <a href="contacto.html">Contacto</a>
        </div>
    </div>

</div>