<nav id="navbar" class="navbar">
    <div id="openSidebar" class="navbar-option-btn">
        <i><img src="images/opt.png" alt="Button to open sidebar" width="24" height="24"></i>
    </div>

    <div class="navbar-section navbar-logo">
        <div class="navbar-item no-hover">
            <span>Dr. Eduardo Binci</span>
        </div>
    </div>

    <div class="navbar-section navbar-links">
        <a class="navbar-item" name="menu-item" href="#intro">
            <span class="menu-item">Inicio</span>
        </a>
        <a class="navbar-item" name="menu-item" href="#me">
            <span class="menu-item">Sobre mi</span>
        </a>
        <a class="navbar-item" name="menu-item" href="#services">
            <span class="menu-item">Servicios</span>
        </a>
        <a class="navbar-item" name="menu-item" href="#contact">
            <span class="menu-item">Contacto</span>
        </a>
    </div>
</nav>

<nav id="sidebar" class="sidebar">
    
    <div id="closeSidebar" class="sidebar-close">
        <i class="icon-close"><img src="images/close.png" alt="Button to close sidebar" width="24" height="24"></i>
    </div>
    
    <div class="sidebar-links">
        <a class="sidebar-item" name="menu-item" href="#intro">
            <span class="menu-item">Inicio</span>
        </a>
        <a class="sidebar-item" name="menu-item" href="#me">
            <span class="menu-item">Sobre mi</span>
        </a>
        <a class="sidebar-item" name="menu-item" href="#services">
            <span class="menu-item">Servicios</span>
        </a>
        <a class="sidebar-item" name="menu-item" href="#contact">
            <span class="menu-item">Contacto</span>
        </a>
    </div>

</nav>
