<div class="section index-services" id="services">
    <div class="title">
        <h1><span>SERVICIOS</span> PRESTADOS</h1>
    </div>
    <div class="group-container">
        <div class="group-content">
            <div class="item-group">
                <div class="item">
                    <h2>DERECHO CIVIL Y COMERCIAL</h2>
                </div>
                <div class="item">
                    <div class="bullets">
                        <ul>
                            <li><span>Sucesiones y planificación sucesoria: </span><span>Asesoramiento para la correcta distribución del patrimonio y prevención de conflictos futuros.</span></li>
                            <li><span>Sucesiones ab intestato: </span><span>Tramitación de herencias cuando no hay testamento.</span></li>
                            <li><span>Sucesión testamentaria: </span><span>Cumplimiento de la última voluntad del testador, garantizando el respeto a sus disposiciones.</span></li>
                            <li><span>Partición de herencia: </span><span>Gestión de la división equitativa de los bienes hereditarios.</span></li>
                            <li><span>División de condominio: </span><span>Resolución de conflictos en la administración y distribución de bienes en condominio.</span></li>
                            <li><span>Ejecución hipotecaria: </span><span>Representación en procesos de cobro y cumplimiento de obligaciones hipotecarias.</span></li>
                            <li><span>Reivindicación: </span><span>Defensa del derecho de propiedad frente a terceros.</span></li>
                            <li><span>Prescripción adquisitiva (usucapión): </span><span>Regularización de la propiedad de inmuebles mediante el reconocimiento legal de la posesión prolongada.</span></li>
                            <li><span>Ejecución de títulos: </span><span>Acciones legales para el cobro de documentos con fuerza ejecutiva, como cheques y pagarés.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-group">
                <div class="item">
                    <h2>DERECHO DE FAMILIA</h2>
                </div>
                <div class="item">
                    <div class="bullets">
                        <ul>
                            <li><span>Divorcio: </span><span>Asesoramiento y representación en la disolución del vínculo matrimonial, ya sea de mutuo acuerdo o contencioso.</span></li>
                            <li><span>Unión convivencial: </span><span>Formalización y extinción de uniones convivenciales, regulando derechos y obligaciones.</span></li>
                            <li><span>División de bienes: </span><span>Liquidación y distribución del patrimonio conyugal.</span></li>
                            <li><span>Compensaciones económicas: </span><span>Reclamos o acuerdos por desequilibrios patrimoniales derivados de la ruptura matrimonial o convivencial.</span></li>
                            <li><span>Disolución y liquidación de sociedad conyugal: </span><span>Gestión de la separación de bienes y activos adquiridos durante el matrimonio.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
