#colors() {
    primary: white;
    primarySub: #ccc;
    secondary: black;
    secondarySub: #555;
    tertiary: #CA4E60;
    alternative: #333;
}

#fonts() {
    cormorant: 'Cormorant', serif;
    saintDelafield: 'Mrs Saint Delafield', cursive;
    oswald: 'Oswald', sans-serif;
}

#navbar() {
    backgroundTransition: background-color .5s;
    heightTransition: max-height .3s;
    colorTransition: color .5s;
    padding: 10px;
}

@min10: ~"(min-width: 10px)";
@min650: ~"(min-width: 650px)";
@min768: ~"(min-width: 768px)";

@navbarLinksWidth: 65%;

body {
    margin: 0;
    padding: 0;
    font-family: #fonts[oswald];
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 90px;
    max-height: 90px;
    transition: #navbar[heightTransition];
    -webkit-transition: #navbar[heightTransition];
    background-color: #colors[primary];
    border-bottom: solid 1px #colors[primarySub];
    &.collapse {
        max-height: 60px;
    }
}

.navbar-section {
    display: flex;
    height: 100%;
}

.navbar-option-btn {
    width: 15%;
    @media @min10 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    @media @min768 {
        display: none;
    }
}

.navbar-links {
    width: @navbarLinksWidth;
    @media @min10 {
        display: none;
    }
    @media @min768 {
        display: flex;
        justify-content: center;
    }
}

.logo {
    width: 60px;
    font-family: #fonts[saintDelafield];
    span {
        font-size: 40px;
        margin-top: 12px;
        white-space: nowrap;
        color: #colors[primary];
    }
}

.navbar-logo {
    font-family: #fonts[saintDelafield];
    font-size: 40px;
    display: flex;
    span {
        margin-top: 12px;
    }
    @media @min10 {
        justify-content: center;
        width: 90%;
    }
    @media @min768 {
        justify-content: flex-end;
        width: 100% - @navbarLinksWidth;
    } 
}

.navbar-item {
    -webkit-transition: #navbar[backgroundTransition];
    transition: #navbar[backgroundTransition];
    a {
        color: #colors[secondarySub];
        text-decoration: none;
        font-weight: 300;
        -webkit-transition: #navbar[colorTransition];
        transition: #navbar[colorTransition];
        font-size: 17px;
        text-transform: uppercase;
    }
    &:hover,
    &:active,
    &.active {
        background-color: #colors[primarySub];
        cursor: pointer;
    }

    &:hover a,
    &:active a,
    &.active a {
        color: #colors[primary];
    }
}

.navbar-item.no-hover:hover,
.navbar-item.no-hover:hover * {
    background-color: transparent !important;
    color: #colors[secondary];
    cursor: default;
}

.navbar-logo,
.navbar-item {
    display: flex;
    padding-left: #navbar[padding];
    padding-right: #navbar[padding];
    align-items: center;
}

.hero {
    &.services {
        background: url("../images/law.jpg");
    }
    &.main {
        background: url("../images/justice.jpg");
    }
    &.contact {
        background: url("../images/contact.jpg");
    }
    &.me {
        background: url("../images/me.jpg");
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-position: center !important;
    background-size: cover !important; 
}

.hero-square {
    width: 600px;
    height: 200px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: #fonts[cormorant];
    display: flex;
    justify-content: center;
    flex-direction: column;
    @margin: 5px;
    h1 {
        font-size: 45px;
        font-weight: 700;
        color: #colors[primary];
        margin: @margin;
    }
    h2 {
        font-weight: 400;
        font-size: 22px;
        color: #colors[primarySub];
        margin: @margin;
    }
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    transition: transform 0.2s;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
}

.sidebar.open {
    transform: translateX(0%);
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    padding-top: #navbar[padding];
    padding-bottom: #navbar[padding];
    padding-left: #navbar[padding];
    align-items: center;
    -webkit-transition: #navbar[backgroundTransition];
    transition: #navbar[backgroundTransition];
    a {
        color: #colors[primarySub];
        text-decoration: none;
        font-weight: 300;
        -webkit-transition: #navbar[backgroundTransition];
        transition: #navbar[backgroundTransition];
        font-size: 17px;
        text-transform: uppercase;
    }
    &:hover,
    &:active,
    &.active  {
        background-color: #colors[primary];
        cursor: pointer;
    }
    &:hover a,
    &:active a,
    &.active a {
        color: #colors[secondarySub];
    }
}

.sidebar-close {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    color: #colors[primarySub];
}

.contact {
    background-color: #colors[secondary];
    overflow: hidden;
    font-family: #fonts[oswald];
    color: #colors[primarySub];
    padding-bottom: 20px;
    h1 {
        text-align: center;
        font-weight: 400;
        span {
            font-weight: 300;
            color: #colors[tertiary];
        }
    }
    h2,
    span {
        font-weight: 300;
    }
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-item-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-item {
    @padding: 5px;
    display: flex;
    * {
        padding-left: @padding;
        padding-right: @padding;
    }
}

.contact-content {
    display: flex;
    @media @min10 {
        flex-direction: column;
        width: auto;
        justify-content: unset;
    }
    @media @min650 {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}

.footer {
    @padding: 25px;
    display: flex;
    font-family: #fonts[oswald];
    color: #colors[primarySub];
    h1 {
        font-size: 20px;
        color: #colors[primary];
    }
    span {
        font-weight: 300;
        font-size: 16px;
    }
    overflow: hidden;
    padding-top: @padding;
    padding-bottom: @padding;
    background-color: #colors[alternative];
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
        display: flex;       
        flex-direction: column;
    }
}

.footer-item {
    @paddingVertical: 10px;
    @paddingHorizontal: 5px;
    display: flex;
    * {
        padding-left: @paddingHorizontal;
        padding-right: @paddingHorizontal;
    }
    padding-top: @paddingVertical;
    padding-bottom: @paddingVertical;
}

.map {
    @padding: 20px;
    background-color: #colors[secondary];
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.section {
    @media @min10 {
        @padding: 2%;
        padding-left: @padding;
        padding-right: @padding;
    }
    @media @min650 {
        @padding: 20%;
        padding-left: @padding;
        padding-right: @padding;
    }
}

.introduction {
    background-color: #colors[secondary];
    display: flex;
    flex-direction: column;
    .title {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: #colors[primarySub];
        h1 {
            font-weight: 400;
            span {
                font-weight: 300;
                color: #colors[tertiary];
            }
        }
    }
    .phrase {
        display: flex;
        justify-content: center;
        font-weight: 100;
        color: #colors[primarySub];
    }
    .sign {
        font-family: #fonts[saintDelafield];
        display: flex;
        justify-content: flex-end;
        font-size: 40px;
        color: #colors[primary];
    }
}

.separator {
    border: solid 1px #colors[alternative];
}